# Java class files
*.class
bin/
.classpath
.project
libs/
.settings
.gradle
build/
.cache*
.idea/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
anylambda-core/spark-warehouse/*
anylambda-core/metastore_db/*
anylambda-core/out
anylambda-core/derby.log
anylambda-core/test.jar
